<div class="employee-card">
  <div class="display-flex">
    <div class="employee-header">
      <img src="/images/employee-photo.png" alt="{{employee.name}}" class="employee-photo">
      <div class="employee-info">
        <h3 class="employee-name">{{employee.name}}</h3>
        <p class="employee-title">{{employee.designation}}</p>
      </div>
    </div>
    <div class="menu">
      <span (click)="editButtonClicked()"><i class="fa-regular fa-edit"></i></span>
      <span (click)="trashButtonClicked()"><i class="fa-regular fa-trash-can"></i></span>
    </div>
  </div>

  <div class="employee-rating">
    <span>{{employee.rating}} Rating</span>
    <div>
      <span *ngFor="let star of [1, 2, 3, 4, 5]">
        <i class="fa fa-star" [class.checked]="star <= employee.rating"></i>
      </span>
    </div>
  </div>
  <div class="employee-details">
    <div class="row-section">
      <span class="tilted-border">
        <span class="detail">Experience:</span> {{employee.experience}}
      </span>
      <span><span class="detail">Date of Joining:</span> {{employee.doj}}</span>
    </div>
    <div class="row-section"><span class="detail">Current Team:</span> {{employee.currentTeam}}</div>
    <div class="row-section"><span class="detail">Reporting Manager:</span> {{employee.rm}}</div>
  </div>
  <div class="employee-contact">
    <div>
      <button class="contact-btn call"><i class="fas fa-phone-alt"></i></button>
      {{employee.contactNo}}
    </div>
    <div>
      <button class="contact-btn email"><i class="fas fa-envelope"></i></button>
      {{employee.email}}
    </div>
  </div>
</div>