<div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name:</label>
            <input formControlName="name" type="text">
        </div>
        <div>
            <label>Company Name:</label>
            <input formControlName="companyName" type="text">
        </div>
        <div>
            <label>Email ID:</label>
            <input formControlName="email" type="email">
        </div>
        <div>
            <label>Contact No.:</label>
            <input formControlName="contactNo" type="text">
        </div>
        <div>
            <label>Designation:</label>
            <select formControlName="designation">
                <option value="">-- Select Designation --</option>
                <option *ngFor="let designation of designations" [value]="designation">{{designation}}</option>
            </select>
        </div>
        <div>
            <label>Experience:</label>
            <select formControlName="experience">
                <option value="">-- Select Experience --</option>
                <option *ngFor="let experience of experiences" [value]="experience">{{experience}}</option>
            </select>
        </div>
        <div>
            <label>Date of Joining:</label>
            <select formControlName="doj">
                <option value="">-- Select DOJ --</option>
                <option *ngFor="let year of doj" [value]="year">{{year}}</option>
            </select>
        </div>
        <div>
            <label>Current Team:</label>
            <select formControlName="currentTeam">
                <option value="">-- Select Team --</option>
                <option *ngFor="let team of currentTeam" [value]="team">{{team}}</option>
            </select>
        </div>
        <div>
            <label>Reporting Manager:</label>
            <select formControlName="rm">
                <option value="">-- Select Reporting Manager --</option>
                <option *ngFor="let rm of resourceManagers" [value]="rm">{{rm}}</option>
            </select>
        </div>
        <div>
            <label>Rating:</label>
            <select formControlName="rating">
                <option value="0">-- Select Rating --</option>
                <option  *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{star}}</option>
            </select>
        </div>
        <div>
            <label>Department:</label>
            <select formControlName="department">
                <option value="">-- Select Department --</option>
                <option *ngFor="let department of departments" [value]="department">{{department}}</option>
            </select>
        </div>
        <div>
            <label>Location:</label>
            <select formControlName="location">
                <option value="">-- Select Location --</option>
                <option *ngFor="let location of locations" [value]="location">{{location}}</option>
            </select>
        </div>
        <div>
            <label>Role Type:</label>
            <select formControlName="roleType">
                <option value="">-- Select Role --</option>
                <option *ngFor="let roleType of roleTypes" [value]="roleType">{{roleType}}</option>
            </select>
        </div>

        <div class="bottom-btns">
            <button type="submit" class="submit-button">Submit</button>
            <button type="cancel" class="cancel-button" (click)="onCancel()">Cancel</button>
        </div>
        
    </form>
</div>
